body {
    background-color: white !important;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Button*/
.btn-primary {
    background-color: #4a00ff !important;
}

/* Input focus*/
.input:focus {
    outline: none !important;
    border-color: #4a00ff !important;
}

/*input text color */
.input {
    color: #64748b;
}

/* fonts */
input, button, label {
    font-family: "Geist", sans-serif !important;
}